.navbar__item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  opacity: 1;
  cursor: pointer;
  transition: var(--transition-hover);
}

.navbar__item:hover {
  opacity: .7;
}

@media screen and (min-width: 1024px) {
  .navbar__item {
    justify-content: flex-end;
  }
}
