.button {
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-system-white);
  background-color: var(--color-system-green-easy);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.button:hover {
  background-color: var(--color-system-yellow);
}

.button:disabled {
  color: var(--color-system-green);
  background-color: var(--color-system-green-dark);
  cursor: auto;
}

.button:disabled:hover {
  cursor: auto;
}
