.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding: 0 0 16px;
  list-style: none;
}

@media screen and (min-width: 1024px) {
  .navbar__list {
    margin: 0;
    padding: 0 0 24px;
  }
}
