@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../vendor/variables.css');

@import url('../blocks/page/page.css');

@import url('../blocks/container/container.css');

@import url('../blocks/logo/logo.css');

@import url('../blocks/button/button.css');
@import url('../blocks/button/_size/button_size_m.css');
@import url('../blocks/button/_size/button_size_l.css');
@import url('../blocks/button/_type/button_type_active.css');

@import url('../blocks/input/input.css');
@import url('../blocks/input/_type/input_type_short.css');
@import url('../blocks/input/_type/input_type_dark.css');

@import url('../blocks/start/start.css');
@import url('../blocks/start/_show/start_show.css');
@import url('../blocks/start/__form/start__form.css');
@import url('../blocks/start/__title/start__title.css');
@import url('../blocks/start/__subtitle/start__subtitle.css');
@import url('../blocks/start/__wrapper/start__wrapper.css');
@import url('../blocks/start/__row/start__row.css');
@import url('../blocks/start/__label/start__label.css');

@import url('../blocks/navbar/navbar.css');
@import url('../blocks/navbar/__list/navbar__list.css');
@import url('../blocks/navbar/__item/navbar__item.css');
@import url('../blocks/navbar/__item-text/navbar__item-text.css');
@import url('../blocks/navbar/__icon/navbar__icon.css');
@import url('../blocks/navbar/__link/navbar__link.css');

@import url('../blocks/section-title/section-title.css');

@import url('../blocks/setting/setting.css');
@import url('../blocks/setting/_show/setting_show.css');
@import url('../blocks/setting/__wrapper/setting__wrapper.css');
@import url('../blocks/setting/__form/setting__form.css');
@import url('../blocks/setting/__label/setting__label.css');
@import url('../blocks/setting/__activity/setting__activity.css');
@import url('../blocks/setting/__btn-submit/setting__btn-submit.css');
