@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../vendor/variables.css');

@import url('../blocks/page/page.css');

@import url('../blocks/container/container.css');

@import url('../blocks/logo/logo.css');

@import url('../blocks/button/button.css');
@import url('../blocks/button/_size/button_size_m.css');
@import url('../blocks/button/_size/button_size_l.css');
@import url('../blocks/button/_type/button_type_active.css');
@import url('../blocks/button/_type/button_type_del.css');
@import url('../blocks/button/_type/button_type_add.css');

@import url('../blocks/input/input.css');
@import url('../blocks/input/_type/input_type_short.css');
@import url('../blocks/input/_type/input_type_dark.css');
@import url('../blocks/input/_type/input_type_eating.css');

@import url('../blocks/start/start.css');
@import url('../blocks/start/_show/start_show.css');
@import url('../blocks/start/__form/start__form.css');
@import url('../blocks/start/__title/start__title.css');
@import url('../blocks/start/__subtitle/start__subtitle.css');
@import url('../blocks/start/__wrapper/start__wrapper.css');
@import url('../blocks/start/__row/start__row.css');
@import url('../blocks/start/__label/start__label.css');

@import url('../blocks/navbar/navbar.css');
@import url('../blocks/navbar/__list/navbar__list.css');
@import url('../blocks/navbar/__item/navbar__item.css');
@import url('../blocks/navbar/__item/_active/navbar__item_active.css');
@import url('../blocks/navbar/__item-text/navbar__item-text.css');
@import url('../blocks/navbar/__icon/navbar__icon.css');
@import url('../blocks/navbar/__link/navbar__link.css');

@import url('../blocks/section-title/section-title.css');

@import url('../blocks/main/main.css');
@import url('../blocks/main/_show/main_show.css');
@import url('../blocks/main/__row/main__row.css');
@import url('../blocks/main/__list/main__list.css');
@import url('../blocks/main/__eating/main__eating.css');
@import url('../blocks/main/__eating-title/main__eating-title.css');
@import url('../blocks/main/__eating-wrapper/main__eating-wrapper.css');
@import url('../blocks/main/__eating-item/main__eating-item.css');

@import url('../blocks/products/products.css');
@import url('../blocks/products/_show/products_show.css');
@import url('../blocks/products/__header/products__header.css');
@import url('../blocks/products/__row/products__row.css');
@import url('../blocks/products/__title/products__title.css');
@import url('../blocks/products/__title/_icon-reverse/products__title_icon-reverse.css');
@import url('../blocks/products/__list/products__list.css');

@import url('../blocks/product/product.css');
@import url('../blocks/product/__content/product__content.css');

@import url('../blocks/setting/setting.css');
@import url('../blocks/setting/_show/setting_show.css');
@import url('../blocks/setting/__wrapper/setting__wrapper.css');
@import url('../blocks/setting/__form/setting__form.css');
@import url('../blocks/setting/__label/setting__label.css');
@import url('../blocks/setting/__activity/setting__activity.css');
@import url('../blocks/setting/__btn-submit/setting__btn-submit.css');

@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_show/popup_show.css');
@import url('../blocks/popup/__content/popup__content.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/popup/__label/popup__label.css');

@import url('../blocks/eating/eating.css');
@import url('../blocks/eating/__item/eating__item.css');
@import url('../blocks/eating/__text/eating__text.css');
@import url('../blocks/eating/__checkbox/eating__checkbox.css');
@import url('../blocks/eating/__decor/eating__decor.css');
