.start {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-system-green);
  transition: transform .4s ease-out;
  transform: translateX(100%);
  z-index: 50;
}
