.products__header {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  width: 100%;
  background-color: var(--color-system-yellow);
  border-radius: 8px 8px 0 0;
}

@media screen and (min-width: 768px) {
  .products__header {
    padding: 16px 24px;
  }
}
