.input_type_eating {
  max-width: 100px;
  border: 2px solid var(--color-system-green);
}

.input_type_eating:not(:disabled) {
  border: 2px solid var(--color-system-yellow);
}

.input_type_eating::placeholder {
  max-width: 100px;
  color: var(--color-system-green);
}

.input_type_eating:not(:disabled)::placeholder {
  color: var(--color-system-yellow);
}
